
#app{
    border: 1px solid gray;
  
}

.container{
    border:1px solid rgb(212, 210, 210);
    border-radius: 5px;
    margin-top: 5%;
    padding: 10px 5% 5% 5% ;
}

#heading-ad{
    margin-left: 5%;
}

.upload-ad-photos {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    margin: 20px 0;
    position: relative;
}
#submitbutton{
    background-color: blue;;
    padding: 5px 5px 5px 5px;
    float: right;
    margin-bottom: 20px;
}
@media only screen and (max-width: 700px) {
    
  }


